.about { 
    position: relative;
}

.subtopic {
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #FF6699;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #0F0F0F;
    float: left;
    position: absolute;
    margin: 50px 0 30px 45px;
}

.about p {
    font-size: 100%;
    line-height: 40px;
    white-space: pre-wrap;
    background: transparent;
    color: #6E7881;
    margin: 50px 0 30px 400px;
    float: left;
}

hr {
    border: 1px solid #CCCCCC;
    border-width: 1px 0 0;
    clear: both;
    margin: 11px 0 30px 0;
    height: 0;
}


@media only screen and (max-width: 600px) {
    * {
        max-width: 100%;
    }

    .about {
        width: 600px;
    }

    .subtopic {
        float: none;
        margin: 20px 0 0 10px;
    }

    .about p {
        width: 100%;
        margin: 80px 0 20px 10px;
    }

    hr {
        width: 100%;
    }
}