.title {
    margin: 0 10px 10px 45px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    border-bottom: 2px solid #FF6699;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    color: #0F0F0F;
    float: left;
}

.org {
    margin: 50px 0 30px 200px;
    font-size: 22px;
    font-weight: bolder;
    padding-left: 200px;
    background: transparent;
    white-space: pre-line;
}

.org1 {
    margin: 50px 0 30px 200px;
    font-size: 22px;
    font-weight: bolder;
    padding-left: 200px;
    background: transparent;
    white-space: pre-line;
}

.comp {
    margin: 10px 0 10px 200px;
    padding-left: 200px;
    color: #6E7881;
}

span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 100%;
    background: transparent;
}

.role span {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 100%;
    background: transparent;
}

.role1 span {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 100%;
    background: transparent;
}

.comp a {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 10px 0;
    color: #FF6699;
    text-decoration: none;
}

.comp a:hover {
    color: #313131;
}

.comp1 {
    margin: 10px 0 10px 200px;
    padding-left: 200px;
    color: #6E7881;
}

.comp1 a {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: italic;
    margin: 0 0 10px 0;
    color: #FF6699;
    text-decoration: none;
}

.comp1 a:hover {
    color: #313131;
}

.role {
    margin: 10px 0 30px 200px;
    float: left;
    line-height: 40px;
    width: 100%;
    padding-left: 200px;
    color: #6E7881;
}

.role1 {
    margin: 10px 0 30px 200px;
    float: left;
    line-height: 40px;
    padding-left: 200px;
    color: #6E7881;
}

@media only screen and (max-width: 600px) {
    * {
        max-width: 100%;
    }

    .exp {
        width: 600px;
    }

    .title {
        margin: 0 0 0 10px;
    }

    .org {
        margin: 0 0 0 10px;
        padding: 70px 0 0 0;
    }

    .comp {
        margin: 10px 0 0 0;
        padding: 0 0 0 10px;
    }

    .role {
        margin: 10px 0 30px 0;
        padding: 0 0 0 10px;
    }

    .org1 {
        margin: 0 0 0 10px;
        padding: 70px 0 0 0;
    }

    .comp1 {
        margin: 10px 0 0 0;
        padding: 0 0 0 10px;
    }

    .role1 {
        margin: 10px 0 30px 0;
        padding: 0 0 0 10px;
    }

    hr {
        width: 100%;
    }
}